<nav>
    <a href="/">
        <div class="logo"></div>
    </a>
    <ul>
        <li><a href="#">Københavnerbilleder</a></li>
        <li><a href="#">Bogens indhold</a></li>
        <li><a href="#">Forfatteren</a></li>
        <li><a href="#">Køb nu</a></li>
    </ul>
</nav>